[2018-02-19 01:40] renato-bohler opened #2 "Create issue template"
Create issue template in .github/issue_template.md

[2018-02-19 01:41] renato-bohler opened #3 "Create code of conduct"
Create code of conduct in ./CODE_OF_CONDUCT.md

[2018-02-19 01:43] renato-bohler opened #4 "Add badges to README"
Add the following badges to README:

1. Build (passing/failed)
2. Code coverage
3. Release version
4. Commitizen friendly
5. Code style prettier
6. Semantic release
7. License MIT

[2018-02-19 02:00] renato-bohler opened #5 "Create contributing"
Create contributing in .github/contributing.md

[2018-02-19 02:12] #4 closed

[2018-02-19 03:45] renato-bohler opened #7 "Danger commit message validation should fail the build"
Instead of just warning, danger should fail when a PR has commit messages that are not complying with conventional-changelog-standard conventions.

[2018-02-19 23:44] #7 closed

[2018-02-20 00:00] #2 closed

[2018-02-20 00:37] renato-bohler opened #11 "Docs page title version is wrong"
### What are you reporting?

- [x] Bug
- [ ] Feature request
- [ ] Code refactor
- [ ] Continuous Integration (CI) improvement
- [x] Changes in documentation (docs)
- [ ] Other (describe)

### What is the current behavior?
Because semantic-release doesn't update the project version in the package.json file, the title of the docs pages is showing a wrong version.

### What is the expected behavior?

[2018-02-20 00:38] #3 closed

[2018-02-20 02:09] renato-bohler commented on #11
Still not fixed.

[2018-02-20 04:05] renato-bohler opened #13 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-02-20 22:36] renato-bohler commented on #13
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-02-20 23:24] #11 closed

[2018-02-22 21:59] akrigline opened #14 "Import is causing my tests to fail."
### What are you reporting?

- [X] Bug
- [ ] Feature request
- [ ] Code refactor
- [ ] Continuous Integration (CI) improvement
- [ ] Changes in documentation (docs)
- [ ] Other (describe)

### What is the current behavior?
Importing this library and running jest tests is causing an error:
[code]

### What is the expected behavior?
Library should not cause tests to fail.

### Sandbox Link
I believe

[2018-02-26 02:20] renato-bohler commented on #14
Hey there!

Thanks for taking your time and reporting this. I can give it a look in this upcoming week.

Please note though that this project is still under development and it is not ready for use in production.

[2018-02-27 00:12] renato-bohler commented on #14
I've worked on this issue today. The project is being transpiled now.

The problem reproduced at both [RunKit](https://npm.runkit.com/redux-form-input-masks) and Jest tests aren't happening anymore.

Can you please try again using *redux-form-input-masks@0.3.12* @akrigline ?

[2018-02-27 00:21] renato-bohler opened #16 "Commit lint before on precommit"
### What are you reporting?

- [ ] Bug
- [x] Feature request
- [ ] Code refactor
- [ ] Continuous Integration (CI) improvement
- [ ] Changes in documentation (docs)
- [ ] Other (describe)

### What is the current behavior?
Commit messages validations are made only on Travis, after commits were pushed.

### What is the expected behavior?
They should be validated as soon as possible (precommit hook)

[2018-02-27 01:05] #16 closed

[2018-02-27 02:33] #5 closed

[2018-02-27 21:37] #14 closed

[2018-02-27 21:45] renato-bohler commented on #14
If it still happens on versions greater than 0.3.12, please reopen this issue.

[2018-03-10 00:53] renato-bohler commented on #16
:tada: This issue has been resolved in version 0.3.13 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/redux-form-input-masks)
- [GitHub release](https://github.com/renato-bohler/redux-form-input-masks/releases/tag/v0.3.13)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-03-10 00:53] renato-bohler commented on #5
:tada: This issue has been resolved in version 0.3.13 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/redux-form-input-masks)
- [GitHub release](https://github.com/renato-bohler/redux-form-input-masks/releases/tag/v0.3.13)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-03-12 01:44] renato-bohler opened #20 "Potential vulnerability on examples project's dependencies"
### What are you reporting?

* [ ] Bug
* [ ] Feature request
* [ ] Code refactor
* [ ] Continuous Integration (CI) improvement
* [ ] Changes in documentation (docs)
* [x] Other (describe): dependency vulnerability

### What is the current behavior?
The examples project has a devDependency that depends indirectly from `ssri@5.0.0`. A potential security vulnerability was found for `ssri` at versions

[2018-03-12 01:53] #20 closed

[2018-03-12 01:54] renato-bohler commented on #20
:tada: This issue has been resolved in version 0.4.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/redux-form-input-masks)
- [GitHub release](https://github.com/renato-bohler/redux-form-input-masks/releases/tag/v0.4.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-03-13 15:29] Kenjirou opened #22 "Error: only one instance of babel-polyfill is allowed"
### What are you reporting?

*Bug*

### What is the current behavior?

*When I try to start my app with this package installed I see the error message*

### What is the expected behavior?

*I can start my app as usual*

### What's your environment?

[2018-03-13 16:16] renato-bohler commented on #22
I have had this error once at codesandbox.io, but it simply disappeared after some time.

I'll take a look later today.

[2018-03-14 00:20] #22 closed

[2018-03-14 00:21] renato-bohler commented on #22
:tada: This issue has been resolved in version 1.0.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/redux-form-input-masks)
- [GitHub release](https://github.com/renato-bohler/redux-form-input-masks/releases/tag/v1.0.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-03-14 00:25] renato-bohler commented on #22
@Kenjirou can you please try again? If the error persists, reopen this issue.

Thanks for your report!

[2018-03-14 03:21] polinom opened #24 "When using `createTextMask` getting `TypeError: Object(...) is not a function`"
### When using `createTextMask` getting `TypeError: Object(...) is not a function`

* [ ] Bug

### What is the current behavior?

When import and using `createNumberMask`everything works as expected. However, when using `createTextMask` it errors out like this:

![](https://preview.ibb.co/i7x7pc/Screen_Shot_2018_03_13_at_11_13_37_PM.png)

### What is the expected behavior?

I expect it to work lik

[2018-03-14 07:25] Kenjirou commented on #22
@renato-bohler yeah, now it works!
Thank you for your work)

[2018-03-14 09:04] renato-bohler opened #25 "TextMask: onChange and onComplete pattern aren't called on first input"
### What are you reporting?

* [x] Bug
* [ ] Feature request
* [ ] Code refactor
* [ ] Continuous Integration (CI) improvement
* [ ] Changes in documentation (docs)
* [ ] Other (describe)

### What is the current behavior?
On text masks, both the `onChange` and the `onCompletePattern` functions don't get called upon the first input. If the mask contains only one character, those functions would ne

[2018-03-18 12:46] renato-bohler commented on #24
I still couldn't reproduce it on **^1.0.0**.

@polinom if the problem is really occuring on v1, please confirm and I'll keep trying to reproduce it.

Thanks

[2018-03-19 01:40] #24 closed

[2018-03-19 17:23] polinom commented on #24
I'm sorry @renato-bohler for late response , It was indeed lower than **1.0.0** problem.

[2018-04-01 17:32] ninjarails opened #26 "Doesn't apply mask initially"
### What are you reporting?

* [x] Bug
* [ ] Feature request
* [ ] Code refactor
* [ ] Continuous Integration (CI) improvement
* [ ] Changes in documentation (docs)
* [ ] Other (describe)

### What is the current behavior?

It doesn't create mask when using initialValues of redux-form. I have to focus in and out to see mask.

### What is the expected behavior?

It should show mask without user hav

[2018-04-01 17:37] ninjarails opened #27 "Backspace not working well with characters for createTextMask"
### What are you reporting?

* [x] Bug
* [ ] Feature request
* [ ] Code refactor
* [ ] Continuous Integration (CI) improvement
* [ ] Changes in documentation (docs)
* [ ] Other (describe)

### What is the current behavior?

'+1 (999) 999-9999 x99999' - I can't remove x with backspace.
### What is the expected behavior?

Should able to remove x with backspace.
### Sandbox Link

### What's your envi

[2018-04-01 21:38] renato-bohler commented on #27
What is the pattern for the mask you've created?

If the pattern is `'+1 (999) 999-9999 x99999'`, you really shoudn't be able to delete the `x` character, because those chars on the pattern that aren't defined in maskDefinitions are mask characters (such as parenthesis, space and dash on this example).

A sandbox would be greatly appreciated.

[2018-04-02 01:00] renato-bohler commented on #26
I'm assuming this is happening for text masks, when you have `stripMask` set to `false` and your initial value isn't formatted. Is that the case?

![issue](https://user-images.githubusercontent.com/25781956/38179300-f7852f0a-35f7-11e8-94d6-c49d330616f1.gif)

[2018-04-02 01:09] renato-bohler commented on #27
Oh, I think I get it now. The caret position should isn't being correctly controlled on this situation.

![issue 2](https://user-images.githubusercontent.com/25781956/38179401-4855e356-35f9-11e8-9fff-14325d55b3a8.gif)

[2018-04-02 01:20] renato-bohler opened #28 "Text mask: onCompletePattern isn't called on paste"
### What are you reporting?

* [x] Bug
* [ ] Feature request
* [ ] Code refactor
* [ ] Continuous Integration (CI) improvement
* [ ] Changes in documentation (docs)
* [ ] Other (describe)

### What is the current behavior?
When the user pastes the complete pattern into the `Field`, `onCompletePattern` isn't called. This possibly happens for `onChange` aswell.

### What is the expected behavior?
Th

[2018-04-02 03:16] ninjarails commented on #27
Thanks for your quick response. It's exactly what I faced today. So I can't remove `x` and the number before `x` by backspace. It's not good UX, I think.

[2018-04-10 14:26] shchouch opened #29 "The default value of the createNumberMask is 0 and can not be changed"
### What are you reporting?

* [ ] Bug
* [x] Feature request
* [ ] Code refactor
* [ ] Continuous Integration (CI) improvement
* [ ] Changes in documentation (docs)
* [ ] Other (describe)

### What is the current behavior?

When the createNumberMask mask applied to a Field this Field renders with '0' by default.

### What is the expected behavior?

Is it possible to add some additional property to

[2018-04-10 14:39] renato-bohler commented on #29
Hey! Thanks for taking your time and submitting this feature request.

So... this feature is on the roadmap, but I'm currently lacking time to work on the project.

As soon as I have the time, I'll prioritize the existing issues and then I'll work on this feature.

[2018-05-03 19:32] renato-bohler commented on #29
Closed by #30

[2018-05-03 19:32] #29 closed

[2018-05-05 02:51] renato-bohler commented on #27
Closed by #31

[2018-05-05 02:51] #27 closed

[2018-05-05 12:27] renato-bohler commented on #26
I've investigated this issue today @ninjarails.

Unfortunately, it is technically impossible to solve it on the library side. We could set the formatted value on the input, but the stored value would be not formatted until the user focuses in and out. This is because `redux-form` only calls `normalize` when the input value has changed, and we can't force that to happen.

This is the best that we c

[2018-05-05 12:27] #26 closed

[2018-05-06 14:20] renato-bohler opened #32 "DangerJS doesn't seem to work on PR across forks"
### What are you reporting?

* [x] Bug
* [ ] Feature request
* [ ] Code refactor
* [x] Continuous Integration (CI) improvement
* [ ] Changes in documentation (docs)
* [ ] Other (describe)

### What is the current behavior?
DangerJS is not reporting status or leaving comments on PRs made from forks.

### What is the expected behavior?
It should work normally.

### Other information
PR #30 was the f

[2018-05-08 01:34] #28 closed

[2018-05-08 01:35] #25 closed

[2018-05-08 01:35] renato-bohler commented on #28
:tada: This issue has been resolved in version 1.1.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/redux-form-input-masks)
- [GitHub release](https://github.com/renato-bohler/redux-form-input-masks/releases/tag/v1.1.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-05-12 00:55] renato-bohler opened #35 "Number mask with initial value won't clear value when emptyString is set"
### What are you reporting?

* [x] Bug
* [ ] Feature request
* [ ] Code refactor
* [ ] Continuous Integration (CI) improvement
* [ ] Changes in documentation (docs)
* [ ] Other (describe)

### What is the current behavior?
In the current version if we have initialized the form with the data we were unable to delete the value even with the `allowEmpty` option set to true. It is happening because va

[2018-05-12 01:03] renato-bohler commented on #35
Closed by #34

[2018-05-12 01:03] #35 closed

[2018-05-12 12:21] renato-bohler opened #37 "NumberMask: erroneous behavior when using allowEmpty with initialValues"
### What are you reporting?

* [x] Bug
* [ ] Feature request
* [ ] Code refactor
* [ ] Continuous Integration (CI) improvement
* [ ] Changes in documentation (docs)
* [ ] Other (describe)

### What is the current behavior?
When a `Field` which has an initial value is using a number mask with the `allowEmpty` option set, it is not possible to set the input value to zero. Also, in this case, instead

[2018-05-16 12:53] renato-bohler opened #38 "Potential vulnerability on project's dependencies"
### What are you reporting?

* [ ] Bug
* [ ] Feature request
* [ ] Code refactor
* [ ] Continuous Integration (CI) improvement
* [ ] Changes in documentation (docs)
* [x] Other (describe): dependency vulnerability

### What is the current behavior?
The project has a dependency with a potential vulnerability (`hoek@4.2.0`)

### What is the expected behavior?
We shouldn't have any dependency that co

[2018-05-22 00:40] renato-bohler opened #39 "TextMask: onCompletePattern and onChange are called when they shouldn't for non-stripped masks"
### What are you reporting?

* [x] Bug
* [ ] Feature request
* [ ] Code refactor
* [ ] Continuous Integration (CI) improvement
* [ ] Changes in documentation (docs)
* [ ] Other (describe)

### What is the current behavior?
The `onCompletePattern` and `onChange` functions are called even when the input value doesn't change for text masks which have `strip`Mask set to `false`.

![issue](https://user

[2018-05-24 03:04] #39 closed

[2018-05-24 03:05] renato-bohler commented on #39
:tada: This issue has been resolved in version 1.1.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/redux-form-input-masks)
- [GitHub release](https://github.com/renato-bohler/redux-form-input-masks/releases/tag/v1.1.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-06-04 11:08] ahtohbi4 opened #42 "Cursor position does not save"
### What are you reporting?

* [x] Bug
* [ ] Feature request
* [ ] Code refactor
* [ ] Continuous Integration (CI) improvement
* [ ] Changes in documentation (docs)
* [ ] Other (describe)

### What is the current behavior?

When you type some value in a field with `createNumberMask` or `createTextMask`, place the text cursor in the middle of the value and try to add some, the cursor will move to t

[2018-06-21 00:07] renato-bohler commented on #37
@mitchvoll `redux-form`'s `change` action will not set the `Field` value to `undefined` if its `payload` is `undefined` (in fact it will do nothing if that's the case). One way to set `undefined` to the `Field` with this action is to set the payload to an empty string, but that only works if the target `Field` has no initial values - and that's the cause of this issue.

There's more information he

[2018-06-21 18:54] scottmcpherson opened #43 "Selecting an entire value and hitting delete should delete the selected value"
### What are you reporting?
Currently, the only way to delete the entire value is by hitting delete once for each digit. It would be a better UX to be able to select the entire value and delete it by hitting delete once.

* [X] Bug
* [X] Feature request
* [ ] Code refactor
* [ ] Continuous Integration (CI) improvement
* [ ] Changes in documentation (docs)
* [ ] Other (describe)

<img width="377" a

[2018-06-21 18:59] renato-bohler commented on #43
I totally agree. I'll give it a try in the next few weeks.

[2018-06-21 19:09] scottmcpherson commented on #43
Let me know if I can help! Happy to submit a PR

[2018-06-23 13:57] scottmcpherson commented on #43
@renato-bohler I was able to resolve this but wanted to check with you before modified the test to get them to pass.

To get this to work, part of what I did was removed this block:
https://github.com/renato-bohler/redux-form-input-masks/blob/master/src/createNumberMask.js#L60-L66

What is the purpose of this block? With it removed, it still prevents the modification of suffixes and prefixes.

[2018-06-23 16:29] renato-bohler commented on #43
Yes, tests will have to be updated.

I would have to check, but I suspect that without this block, messing only with the prefix and suffix would clear the input, and in this case the input field should just not be updated.

[2018-06-26 22:54] renato-bohler commented on #32
Relates to https://github.com/danger/danger-js/issues/614

[2018-06-26 23:03] #43 closed

[2018-06-26 23:06] renato-bohler commented on #43
:tada: This issue has been resolved in version 1.1.5 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/redux-form-input-masks)
- [GitHub release](https://github.com/renato-bohler/redux-form-input-masks/releases/tag/v1.1.5)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-06-27 13:25] vinicarra opened #45 "Mask pattern doesn't prevent wrong input type"
### What are you reporting?

* [x] Bug
* [ ] Feature request
* [ ] Code refactor
* [ ] Continuous Integration (CI) improvement
* [ ] Changes in documentation (docs)
* [ ] Other (describe)

### What is the current behavior?

I'm using React Native with Redux + Redux Forms and this package to create my forms. I created a date field using the pattern: '99/99/9999', and it works BUT doesn't prevent th

[2018-06-27 13:40] renato-bohler commented on #45
Are you using `createTextMask` to achieve this? Can you post some code to help me understand what's going on?

I couldn't reproduce this using the "Build your own" section on the [text mask documentation page](https://renato-bohler.github.io/redux-form-input-masks/#/text-mask). I've simply put `99/99/9999` as the pattern and it does prevent the user from inputting letters or any other non-numeric

[2018-06-27 13:47] vinicarra commented on #45
![captura de tela 2018-06-27 as 10 43 58](https://user-images.githubusercontent.com/21029352/41978046-4dc3e4cc-79f7-11e8-8d62-745f5b50f037.png)
![captura de tela 2018-06-27 as 10 44 07](https://user-images.githubusercontent.com/21029352/41978044-4da21f9a-79f7-11e8-973b-90a0a3e36c65.png)
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/21029352/41978108-76f2159e-79f7-11e8-9e12-51

[2018-06-27 13:54] renato-bohler commented on #45
Hmm, this is strange, I'm not able to reproduce this on the documentations on my desktop.

What version of `redux`, `react-redux` and `redux-form` are you using?

I'm not sure if this is related to using `react-native`, I'll have to test.

[2018-06-27 14:01] vinicarra commented on #45
- "redux": "^4.0.0"
- "redux-form": "^7.4.2"
- "redux-form-input-masks": "^1.1.5"
- "react-redux": "^5.0.7"

[2018-06-30 22:34] vinicarra commented on #45
I've found myself having more problems than solutions by using this package. Although it works gracefully for web React applications it doesn't provide me the same results in mobile apps with RN. As you suggested this may be React Native issues but would be really nice if you could make it work for mobile as well. In android the field couldn't ever be sucessfully valitaded leading to some major pr

[2018-06-30 23:38] renato-bohler commented on #45
I haven't really tested this library with `react-native`. I wasn't expecting that it would have any issues, since it's only using `redux-form` API.

I will be able to give all those open issues some attention in the next week or two, including yours.

Thanks for the feedback anyways.

[2018-07-10 16:25] scottmcpherson opened #46 "Adding a mask overrides the Field's format function"
### What are you reporting?
Adding a mask overrides the Field's format function

* [ ] Bug
* [x] Feature request
* [ ] Code refactor
* [ ] Continuous Integration (CI) improvement
* [ ] Changes in documentation (docs)
* [ ] Other (describe)

### What is the current behavior?
When you add a format function before the mask, the mask overrides the form. In my case, I need to convert a decimal value, e

[2018-07-12 00:00] renato-bohler commented on #46
This library does implement `format` and `parse` from `redux-form`'s API. So the only way I can see that we could meet your requirement is by adding a new option to the `createNumberMask` function, called `multiplier` or something along those lines (so you could use `multiplier = 1/100` in that case).

[2018-07-12 17:22] scottmcpherson commented on #46
Something like a multiplier, or possibly even passing in a format function as one of the argument might be cool.

This actually isn't as big of an issue as I originally though, and really boiled down to the way we were parsing data. We we're able to work around it by feeding the input with initialValues in there modified state.

Feel free to close this one if you want, or if you think it would be

[2018-07-12 18:00] renato-bohler commented on #46
I don't think that passing a `format` function would be a good feature, because this way the library user could easily break the `format` and `parse` cycles implemented by `redux-form-input-masks`.

The `multiplier` option seems to be a useful feature (specially for percentage values) and it would be fairly easy to implement.

[2018-07-13 15:38] dubert opened #47 "Cursor (caret) jumps to end of input, then returns to correct position"
### What are you reporting?

* [x] Bug
* [ ] Feature request
* [ ] Code refactor
* [ ] Continuous Integration (CI) improvement
* [ ] Changes in documentation (docs)
* [ ] Other (describe)

### What is the current behavior?

As the user is typing, the caret jumps to end, then returns to the correct position.
![phone_number](https://user-images.githubusercontent.com/1843672/42700185-fb8830d6-8690-11

[2018-07-13 17:22] dubert commented on #47
**Update:** From what I can tell, the primary culprit is Redux-form, because `format()/normalize()` pretty much clobbers everything.
Related issues:
https://github.com/erikras/redux-form/issues/2049
https://github.com/erikras/redux-form/issues/3253
https://github.com/erikras/redux-form/issues/3306

[2018-07-14 11:27] TimMeade opened #48 "Empty mask overrides placeholder"
### What are you reporting?

* [ ] Bug
* [x] Feature request
* [ ] Code refactor
* [ ] Continuous Integration (CI) improvement
* [ ] Changes in documentation (docs)
* [ ] Other (describe)

### What is the current behavior?
I think this may fall under feature request, but maybe I'm missing something.

If there is a placeholder for the Field, you are over riding it from init with the mask .   I beli

[2018-07-14 11:30] TimMeade commented on #48
![screenshot 2018-07-14 07 29 22](https://user-images.githubusercontent.com/1386476/42723977-a53c0804-8737-11e8-9d16-35927970e9d8.png)
![screenshot 2018-07-14 07 30 03](https://user-images.githubusercontent.com/1386476/42723984-c17a093a-8737-11e8-9b1f-46ac5592cf89.png)

[2018-07-14 11:50] TimMeade opened #49 "Numeric mask characters and mask behavior"
### What are you reporting?

* [ ] Bug
* [x] Feature request
* [ ] Code refactor
* [ ] Continuous Integration (CI) improvement
* [ ] Changes in documentation (docs)
* [ ] Other (describe)

### What is the current behavior?

When masking a number a underscore (_) is used in place of expected number.

Secondary request,  if non numeric numbers are present i.e. phone number (___) ___-_____  all non n

[2018-07-14 12:00] TimMeade commented on #49
OK i found placeholder so that fixes the underscore issue.

Leaving this open as i still think the fill behavior is important.

[2018-07-17 15:44] renato-bohler opened #51 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-07-20 18:35] sjarvie commented on #49
In this case, are you looking for a numeric placeholder?

E.g.
[code]
I am looking to do the same thing.

[2018-07-20 23:57] sjarvie commented on #48
+1 on this.

[2018-07-21 02:04] renato-bohler commented on #45
I finally managed to test this library with `react-native` and, unfortunately, it is far from being able to support it. A lot of refactor and testing would be required in order to achieve this compability, and I'm not even sure if that would be possible (managing the caret position on `react-native`'s inputs seems to be one of the biggest problems).

I'm closing this by now, but we should at least

[2018-07-21 02:04] #45 closed

[2018-07-21 02:20] renato-bohler commented on #49
@TimMeade You can change the placeholder with the `placeholder` option, as you already discovered. You can also change the fill behaviour by setting the `guide` option (when `true` the guide will be filled with placeholders, when `false` it will be masked as the user fills the field). Does that meet your requirements?

[2018-07-21 02:20] renato-bohler commented on #49
@sjarvie You actually can use `0` as a placeholder for a numeric input. The only thing to keep in mind is that the `placeholder` cannot be matched by any of the `maskDefinitions`, so if you use `0` as a placeholder, it will not be possible to input zeroes on your field.

The mask below should work fine:

[code]

[2018-07-21 02:36] renato-bohler commented on #47
Yeah, I've tried my best to fix this but it was really beyond me.

The only way to avoid this behaviour is setting the `guide` option to `false`. I'm also thinking in changing `guide`'s default value to `false` in v2.0.0.

I'm closing this by now. If you have any other suggestion on this topic, feel free to reopen.

Thanks for reporting!

[2018-07-21 02:36] #47 closed

[2018-07-22 19:29] sjarvie commented on #49
I see.

What we are looking to do is use 0 as a placeholder in a phone number entry field, so we would need 0 as an input in the field. Would it possible to add an additional flag `maskPlaceholder` to the mask definition as boolean which decides whether if the placeholder should be matched by the mask?

Happy to brainstorm with you further.

[2018-07-23 00:58] renato-bohler commented on #48
@sjarvie oh I see. So, to achieve what I've done in the GIF you see on the README I've used the `TextField` from `redux-form-material-ui@5` (`material-ui@1` wrappers) with the `placeholder` prop set to `AAAA - (99)99` with the following mask applied to it. Something along those lines:

[code]

[2018-07-23 01:11] renato-bohler commented on #49
The only problem I see in allowing the placeholder to be matched by the mask definition is that it would be hard to implement/control wether the character was actually inputted or is only a placeholder.

Think of `(010) 000-0000`, for example. Has the second zero been filled or is it a placeholder? It's not possible to determine with only this information (and that is pretty much all we have in ou

[2018-07-23 01:11] #46 closed

[2018-07-23 01:14] renato-bohler commented on #46
:tada: This issue has been resolved in version 1.2.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/redux-form-input-masks)
- [GitHub release](https://github.com/renato-bohler/redux-form-input-masks/releases/tag/v1.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-07-23 01:14] #51 closed

[2018-07-23 16:36] sjarvie opened #53 "TextInputMask incorrectly overrides placeholder with single paranthesis when mask starts with open parenthesis"
### What are you reporting?

* [x] Bug
* [ ] Feature request
* [ ] Code refactor
* [ ] Continuous Integration (CI) improvement
* [ ] Changes in documentation (docs)
* [ ] Other (describe)

### What is the current behavior?

When a text input mask starts with an open parenthesis, the placeholder string of Input(not placeholder character of mask), is overridden to a single open parenthesis.

Example

[2018-07-23 17:51] wweellddeerr opened #54 "Add reverse attribute"
* [ X ] Feature request

Hello Renato, it is possible to add the reverse attribute like in jquery mask plugin?

https://igorescobar.github.io/jQuery-Mask-Plugin/docs.html

[2018-07-23 21:42] renato-bohler commented on #48
I'll be closing this one then.

Feel free to reopen it @TimMeade

[2018-07-23 21:42] #48 closed

[2018-07-23 21:46] renato-bohler commented on #53
The current behavior is how I thought it was supposed to be. But I now see that this alternative behavior can be pretty useful.

My purpose is to make a new option for `createTextMask` called `allowEmpty`, that when set to true, will not show any mask character if the input hasn't been filled (just like the `allowEmpty` option that already exists for `createNumberMask`).

That would solve this pro

[2018-07-23 22:02] sjarvie commented on #53
`allowEmpty` should solve this case, yes. Once the user starts typing, the mask should apply.

Thank you for taking a look here.

[2018-07-24 01:41] renato-bohler commented on #49
I'm closing this, as it is related to #53.

[2018-07-24 01:41] #49 closed

[2018-07-24 01:48] renato-bohler commented on #54
Hey @wweellddeerr. The documentation for this mask plugin doesn't really explain what the `reverse` attribute does, and I've found no examples of it too. Could you explain a little more what is this `reverse` all about? Or maybe share an example, codesandbox, etc.?

Thanks!

[2018-07-24 08:41] teves-castro commented on #42
@renato-bohler, looking at the code for manageCaretPosition I wonder why on the 'change' case , instead of moving the cursor to the first unfilled position it is not moved instead to the first valid position?

[2018-07-24 13:32] wweellddeerr commented on #54
Hi @renato-bohler, thank you for your availability. Sorry I did not check if the documentation had an appropriate example.

What I need is a right to left filling of the field.
___.____
___.___1
___.__12
___._123
___.1232
__1.2320
_12.3201
123.2010

In a such way that if the user change the focus with partially filling, I can automatically fill with zeros.

Thank you.

[2018-07-26 15:00] StevenXL opened #55 "Value of Field in Store Depends on Field Display"
### What are you reporting?

* [ ] Bug
* [ ] Feature request
* [ ] Code refactor
* [ ] Continuous Integration (CI) improvement
* [ ] Changes in documentation (docs)
* [ ] Other (describe)

### What is the current behavior?

I have the following code:

[code]
What I am trying to express is the following: Allow only 9 numbers. Store that in the form's state. When you display it to the user, the firs

[2018-07-27 01:07] renato-bohler commented on #55
Interesting. I've never thought on this use case. It's definetely on the roadmap now.

Thanks for the feedback!

[2018-07-27 01:08] renato-bohler commented on #54
This is a total valid feature. I'll put this on the roadmap, but it may take some time to release because I think it's not gonna be easy to implement.

Thanks for the feedback!

[2018-07-29 14:00] SladeRun14 opened #56 "Masking a 'password' type input makes the field appear prepopulated"
### Applying a mask to a password type input field confuses the user

#### Use case:
We're trying to apply a mask to field that accepts a PIN number.  The PIN number should be hidden from onlookers as the user types, so we use a password type input field.  We want to limit the user to entering exactly 6 digit and only digits.  The mask is perfect for this (paired with a validation).

* [x] Bug
* [

[2018-07-29 14:53] renato-bohler commented on #56
It is beyond us to change how the input type password displays the inputted characters on the navigator.

The desired use case will be feasible though, when #55 is done (and using input type text).

[2018-09-04 20:51] yardz opened #57 "Does not work with typescript"
### What are you reporting?
* [ ] Bug
* [ x ] Feature request
* [ ] Code refactor
* [ ] Continuous Integration (CI) improvement
* [ ] Changes in documentation (docs)
* [ x ] Other (describe)

### What is the current behavior?

Does not work with typescript... I tried to create an @Types file but I could not. (I'm new to Typescrypt)

### What is the expected behavior?

Create an pakege @types/redux

[2018-10-10 15:25] dzienisz opened #58 "CodeSandbox.io Demo is not working."
### What are you reporting?

* [x] Bug
* [ ] Feature request
* [ ] Code refactor
* [ ] Continuous Integration (CI) improvement
* [ ] Changes in documentation (docs)
* [x] Other (describe)

### What is the current behavior?

CodeSandbox.io Demo is not working.
https://codesandbox.io/s/k0op1kwywr

[2018-10-10 15:29] dzienisz opened #59 "Is it possible to hide underscores in text input mask?"
### What are you reporting?

* [ ] Bug
* [x] Feature request
* [ ] Code refactor
* [ ] Continuous Integration (CI) improvement
* [ ] Changes in documentation (docs)
* [ ] Other (describe)

### What is the current behavior?

![zrzut ekranu 2018-10-10 o 17 27 31](https://user-images.githubusercontent.com/3521624/46747540-e0f17b80-ccb1-11e8-8870-734adbf13eba.png)

### What is the expected behavior?

[2018-10-10 16:16] renato-bohler commented on #59
Hey there. Yes, this is possible. There's two ways you could achieve it:

**1. Change the `placeholder` option on the `createTextMask`, setting it to a blank space. Example:**

[code]

**2. Hide all the guide by setting the `guide` option to false. Example:**

[code]

You can play with the available options (and get the resulting code) on the [text mask page of the documentation](https://renato-bo

[2018-10-10 16:16] #59 closed

[2018-10-10 16:17] renato-bohler commented on #58
Thanks for reporting it, I'll investigate.

[2018-10-10 16:28] renato-bohler commented on #58
Should be all right now. If it still happens, please reopen.

[2018-10-10 16:28] #58 closed

[2018-10-11 08:30] dzienisz commented on #59
It's working! but...

![zrzut ekranu 2018-10-11 o 10 25 41](https://user-images.githubusercontent.com/3521624/46791058-9703a680-cd40-11e8-9f37-b76ddd718211.png)
![zrzut ekranu 2018-10-11 o 10 25 48](https://user-images.githubusercontent.com/3521624/46791059-9703a680-cd40-11e8-83b7-fa1a252221b9.png)
![zrzut ekranu 2018-10-11 o 10 28 15](https://user-images.githubusercontent.com/3521624/46791061-979

[2018-10-12 02:41] renato-bohler commented on #59
The space character is thinner than the digits, is that what you mean?

The `placeholder` option is limited to 1 character... so if that's the problem, I can't see a way of adjusting the width other than selecting a monospace font to display on the input.

[2018-11-06 12:42] #53 closed

[2018-11-06 12:44] renato-bohler commented on #53
:tada: This issue has been resolved in version 1.3.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/redux-form-input-masks)
- [GitHub release](https://github.com/renato-bohler/redux-form-input-masks/releases/tag/v1.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-11-07 03:32] sjarvie commented on #53
Thank you!

[2018-12-07 12:38] juniordesenv opened #61 "select() Not working"
i'm trying  to focus on an input with predifined value with .select(), but the cursor focuses on the input without the selection

[2018-12-08 20:12] juniordesenv commented on #61
I found a way around this, but I think it would be interesting to include a fix for that. I put it to shoot the focus and with a timeout shoot the select..

document.getElementById('#field').focus()
setTimeout(() => { document.getElementById('#field').select() }, 10)

[2018-12-09 00:47] renato-bohler commented on #61
Hmm, I don't think this is under this library responsibility. This is more likely a problem with the field component that you are using.

[2018-12-09 00:47] #61 closed

[2018-12-13 01:57] cupojoe opened #62 "Allow for multi character placeholder"
### What are you reporting?

* [x] Feature request

### What is the current behavior?

Currently, you are only allowed a one character placeholder, which assumes the mask is homogenous. This helps with the format of the field, but not with the semantics of the data.

### What is the expected behavior?

It would be great to be able to specify a placeholder with the same format as the pattern:

[cod

[2019-01-14 22:34] druchoy opened #63 "Entering large number eventually doesn't reflect input"
### What are you reporting?
Number mask

* [x] Bug
* [ ] Feature request
* [ ] Code refactor
* [ ] Continuous Integration (CI) improvement
* [ ] Changes in documentation (docs)
* [ ] Other (describe)

### What is the current behavior?

As I try to input a large number, after about 10 characters, the field begins to no longer reflect my input.
- As I enter 0-9 in sequence, after the 10th input char

[2019-01-14 23:32] renato-bohler commented on #63
Hmm, this is a JavaScript precision issue. See this [stackoverflow question](https://stackoverflow.com/questions/13429451/why-is-9999999999999999-converted-to-10000000000000000-in-javascript).

If the value is stored as a number, there's nothing to do. If the value is stored as a string, we might be able to work around this problem, but that would mean a good amount of work.

Have you found this b

[2019-01-14 23:43] druchoy commented on #63
Ah. Thanks for the response.

yah, was hoping to use as a string as a work around too.

I was thinking about using the lib to handle a field with number of bytes. So the numbers get large fast.

[2019-01-23 13:36] neprev opened #64 "NumberMask format does not handle null value"
### What are you reporting?

* [x] Feature request

### What is the current behavior?

Despite the fact that allowEmpty is set to true, the mask is displayed if value === null, because of this https://github.com/renato-bohler/redux-form-input-masks/blob/master/src/createNumberMask.js#L40

### What is the expected behavior?

Do not display the mask if value === null

[2019-01-23 14:55] renato-bohler commented on #64
Hey, thanks for creating this issue.

I believe that this is going to be solved by #37.

I'll try to solve it in the next few days or so.

[2019-02-25 20:17] taschetto opened #65 "react-final-form compatibility"
### What are you reporting?

* [ ] Bug
* [X] Feature request
* [ ] Code refactor
* [ ] Continuous Integration (CI) improvement
* [ ] Changes in documentation (docs)
* [ ] Other (describe)

### What is the current behavior?

This library is the GO-TO solution when you want to easily format inputs when using redux-form. It's amazing, easy to use, flexible and with a great API. Sadly, redux-form is b

[2019-02-25 20:52] renato-bohler commented on #65
Hi @taschetto. As soon as I saw `final-form`, back in March 2018, I immediately tried to port `redux-form-input-masks`. I even registered the `npm` package `final-form-input-masks`.

Unfortunately, on `final-form`, the `parse` function has no access to the last value of the input, and we really need it on `redux-form-input-masks`.

I've added an issue there (https://github.com/final-form/react-fin

[2019-02-25 21:24] renato-bohler commented on #57
Sorry for the late response.

I was able to do a quick test and `redux-form-input-masks` apparently works with TypeScript without any problems. [Here's the link to the sandbox](https://codesandbox.io/s/2x6kr0807n).

Is there anything different from what you're doing?

[2019-02-25 23:30] #37 closed

[2019-02-25 23:30] #64 closed

[2019-02-25 23:33] renato-bohler commented on #37
:tada: This issue has been resolved in version 2.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/redux-form-input-masks)
- [GitHub release](https://github.com/renato-bohler/redux-form-input-masks/releases/tag/v2.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-02-25 23:33] renato-bohler commented on #64
:tada: This issue has been resolved in version 2.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/redux-form-input-masks)
- [GitHub release](https://github.com/renato-bohler/redux-form-input-masks/releases/tag/v2.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-02-27 20:16] taschetto commented on #65
Hi @renato-bohler. Thank you for your quick reply. That is sad. I'll see what I can do to help. For now I'll stick with `redux-form` and `redux-form-input-masks` that works amazingly with my app.

[2019-02-27 21:39] renato-bohler commented on #65
All right, I'll keep watching the issue on `final-form`.

I'll close this for now. If `final-form` resolve their side, I'll reopen it and implement the adapter ASAP.

[2019-02-27 21:39] #65 closed

[2019-02-28 02:07] #57 closed

[2019-02-28 02:09] renato-bohler commented on #57
:tada: This issue has been resolved in version 2.0.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/redux-form-input-masks)
- [GitHub release](https://github.com/renato-bohler/redux-form-input-masks/releases/tag/v2.0.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-08 02:03] taschetto opened #68 "How to create variable length text masks?"
### What are you reporting?

* [ ] Bug
* [ ] Feature request
* [ ] Code refactor
* [ ] Continuous Integration (CI) improvement
* [ ] Changes in documentation (docs)
* [X] Other (describe)

### Help wanted

Is it possible to create a variable length text mask, such as an email? Something like this...

[code]

[2019-03-08 11:10] renato-bohler commented on #68
Hmm, unfortunately, variable length text masks aren't fully supported yet.

I would have to take some time and study the possibility of accepting a function on the `pattern` key. Something like that:

[code]

[2019-03-08 11:26] renato-bohler commented on #68
[Here's a way to hack in variable length text masks right now](https://codesandbox.io/s/zll3xn8wmx):

[code]

This [codesandbox link](https://codesandbox.io/s/zll3xn8wmx) has the example above implemented, as well as your use case, which doesn't work quite well.

The problem with this e-mail mask is that there are characters on the `guide` that matches a pattern on `maskDefinitions`. So when you t

[2019-03-09 11:18] sachinsinghi commented on #42
Facing similar issue, when value is entered and try to edit it, cursor moves to the end of field.

[2019-03-20 13:44] varunthefalcon opened #69 "Placeholder appears for guide:false in createTextMask"
### What are you reporting?

* [x] Bug
* [ ] Feature request
* [ ] Code refactor
* [ ] Continuous Integration (CI) improvement
* [ ] Changes in documentation (docs)
* [ ] Other (describe)

### What is the current behavior?
  The prop guide: false should remove the pattern place holder in the field when no input is present. But wierd place holder ' ( ' appears for this pattern: '(999) 999-9999'. Ch

[2019-03-20 22:20] renato-bohler commented on #69
Hello!

So, when the `guide` is set to `false`, the value will be displayed only to the last informed character. In this case, if input is empty and there's some characters before any inputtable char in the pattern, these leading characters will be shown. That is the expected behaviour. For example:

[code]

If you want that in this case nothing is shown, you can set the `allowEmpty` option to tru

[2019-03-21 06:41] varunthefalcon commented on #69
Thank you for your response.

[2019-03-21 06:41] #69 closed

[2019-03-26 09:27] varunthefalcon opened #70 "Caret position not stable"
### What are you reporting?

* [x] Bug
* [ ] Feature request
* [ ] Code refactor
* [ ] Continuous Integration (CI) improvement
* [ ] Changes in documentation (docs)
* [ ] Other (describe)

### What is the current behavior?
`pattern: '(999) 999-9999'`
When typing 919, after the first number 9 is entered, the caret resets ahead of that number so it reads “199". This behaviour is only for number 9 fo

[2019-04-08 08:07] mkarajohn opened #71 "Codesanbox examples are broken"
### What are you reporting?

* [ ] Bug
* [ ] Feature request
* [ ] Code refactor
* [ ] Continuous Integration (CI) improvement
* [ ] Changes in documentation (docs)
* [x] Other (describe)

### What is the current behavior?

Codesanbox examples, from the documentation, are broken, with error
[code]

[Example 1](https://codesandbox.io/s/k0op1kwywr)
[Example 2](https://codesandbox.io/s/9o5vyqxn84)

[2019-04-22 14:08] tiagomegas opened #72 "Losing validation rules due to prop stripMask set to false"
### What are you reporting?
* [ ] Bug
* [X ] Feature request
* [ ] Code refactor
* [ ] Continuous Integration (CI) improvement
* [ ] Changes in documentation (docs)
* [ ] Other (describe)

### What is the current behavior?

I wanna both mask the input to set the initial value with the phone's indicative (e.g +44 for UK), not allow the user to remove the '+' sign from the input and apply a custom m

[2019-05-02 16:04] cosmosdesigner opened #73 "Typescript error when updating from 1.3 to latest"
### What are you reporting?

* [x ] Bug
* [ ] Feature request
* [ ] Code refactor
* [ ] Continuous Integration (CI) improvement
* [ ] Changes in documentation (docs)
* [ ] Other (describe)

### What is the current behavior?

ERROR: (alias) class Field<P = InputHTMLAttributes<HTMLInputElement> | SelectHTMLAttributes<HTMLSelectElement> | TextareaHTMLAttributes<HTMLTextAreaElement> | BaseFieldProps<{

[2019-05-02 16:07] cosmosdesigner commented on #71
Hi @mkarajohn this is a working sandbox with TS: https://codesandbox.io/s/zl27211yyx

[2019-05-12 04:35] JoeyKou opened #74 "It does not work with Reduxform 8.1.0"
It took me several hours to figure it out. The latest version it supports is 7.4.2. If you switch to 8.1.0, it won't be able to enter data.

[2019-05-16 12:14] taschetto commented on #74
I'm using

[code]

without any problem...

[2019-05-16 12:29] taschetto commented on #65
@renato-bohler I was digging this issue and reading react-final-form source code. `final-form` is, by design, independent of state. This and the fact that we do not have a native way to get the last value of an input (only the original value) makes me think that it would be impossible to get the last value of the input in this scenario.

Do you think it might be possible to `final-form-input-masks

[2019-08-21 12:48] sourcecode911 commented on #54
Hey i added the feature request to this one.

I need a config parameter on createNumberMask to filling from left to right.

Not :
.0,00
00,01
00,12
01,20
12,00

Needed:
.0,00
10,00
12,00 its not necessary to type zero's

Thanks. @renato-bohler

[2019-10-08 08:54] SirCameron opened #97 "value returned from field should contain mask (or offer a setting to enable this)"
### What are you reporting?

* [ ] Bug
* [ ] Feature request
* [ ] Code refactor
* [ ] Continuous Integration (CI) improvement
* [ ] Changes in documentation (docs)
* [x] Other (describe)

### What is the current behavior?

When using a mask, say "99-9999", the value being returned does not contiain the extra characters in the mask, thus defeating the purpose imo.

### What is the expected behavio

[2019-10-08 08:59] SirCameron commented on #97
Whoops, my apologies.... I didn't see the ```stripMask``` option.

[2019-10-08 08:59] #97 closed

[2019-10-23 16:59] beastfromthefareast commented on #42
I had this issue and the solution is to manually manage your caret position
Put this in your onChange function

` const caret = event.target.selectionStart;
                  const element = event.target;
                  window.requestAnimationFrame(() => {
                    element.selectionStart = caret;
                    element.selectionEnd = caret;
                  });`

[2019-11-01 17:21] taschetto commented on #65
Hey, @renato-bohler. How are you solving this problem these days? Are you still using redux-form?

[2019-11-02 00:53] renato-bohler commented on #65
Hey @taschetto... sorry for the really late reply. I'm being very busy these last months :sweat:

I'm currently not using `final-form` on the projects I work on, I'm still on `redux-form`.

My plan, in the next weeks (or months...), is to test and merge all those dependabot's pull requests first, then trying some of the issues that I think are feasible without having to rewrite everything from scr

[2019-11-12 14:44] paulanelo commented on #74
@taschetto do you have an example? I'm trying to use
`    "redux-form": "^8.2.2",
    "redux-form-input-masks": "^2.0.1",
`
but it doesn't works and if I change to your recommendation still doesn't works here. Example: https://codesandbox.io/embed/redux-form-antd-ls2lc

[2019-11-12 14:55] taschetto commented on #74
Hi, @paulanelo. Here's an excerpt from my `package.json`.

[code]

[2019-11-14 14:44] paulanelo commented on #74
Hello, @taschetto now is working. Thank you!

[2019-11-14 14:53] taschetto commented on #74
Nice! :)

[2019-12-04 03:48] zcilohlegna commented on #63
Actually this is a real case for Indonesian, since 11 digits of number is representing billions which is pretty common for a product to have such price. But I wonder, why there are only 10 digits precision in redux-form-input-masks, whereas there are actually 16 digits precision on Java Script?

[2019-12-06 14:58] rdourado opened #98 "Unrecognised `format` prop"
### What are you reporting?

* [x] Bug
* [ ] Feature request
* [ ] Code refactor
* [ ] Continuous Integration (CI) improvement
* [ ] Changes in documentation (docs)
* [ ] Other (describe)

### What is the current behavior?

React is not recognising `format` prop and is throwing a warning.

### What is the expected behavior?

Get along with React and avoid any warnings.

### Sandbox Link

### What'

[2019-12-06 18:11] renato-bohler commented on #98
Hey @rdourado. I was unable to reproduce this problem. On this [sandbox](https://codesandbox.io/s/keen-wescoff-8ow06), I'm using the exact same dependency versions and the `"input"` component.

The problem must be with the component that you are connecting to `redux-form` itself, as it may be forwarding unnecessary props to its children.

To help you, I would need more information and probably a s

[2019-12-06 18:11] #98 closed

[2019-12-06 18:57] rdourado commented on #98
@renato-bohler You were right. I was spreading it on my custom input component instead of redux-form's Field component. My mistake. =)

[2021-04-07 12:19] ziaulrehman40 commented on #42
Why is this not yet fixed, it destroy UX

[2021-10-19 23:40] hasan-aliyev commented on #29
@renato-bohler can you please have a look this code sand box link?
[Codesandbox](https://codesandbox.io/s/rqvto?file=/CreateNumberMask.jsx)
All I want is to avoid having 0 on load

[2021-10-20 01:51] renato-bohler commented on #29
Well that seems like a better solution hehe

[2022-02-07 14:49] jcspader commented on #73
The same problem here.

`
    "react": "^16.8.6",
    "redux": "^4.0.1",
    "redux-form": "^8.1.0",
    "redux-form-input-masks": "^2.0.1",
`

[2022-02-16 22:05] #74 closed

[2022-02-16 22:06] #72 closed

[2022-02-16 22:06] #70 closed

[2022-02-16 22:06] #68 closed

[2022-02-16 22:07] #63 closed

[2022-02-16 22:07] #32 closed

[2022-02-16 22:08] #42 closed

[2022-02-16 22:08] #71 closed

[2022-02-17 18:29] ziaulrehman40 commented on #42
@renato-bohler Is this fixed?

[2022-02-17 23:52] renato-bohler commented on #73
Fixed by https://github.com/renato-bohler/redux-form-input-masks/pull/127

[2022-02-17 23:52] #73 closed

[2022-07-28 23:10] karina2004liz opened #132 "Shows decimals should be optional"
Hi Renato!

* [ ] Bug
* [x] Feature request
* [ ] Code refactor
* [ ] Continuous Integration (CI) improvement
* [ ] Changes in documentation (docs)
* [ ] Other (describe)

### What is the current behavior?

Currently we can add decimals in the "decimalPlaces" property and these are shown by default, if we put {decimalPlaces: 2} the value that is shown will be "0.00". It would be great if they coul

[2022-07-29 01:08] renato-bohler commented on #132
Hey!

Hmm, it's been a long time, but I think that would be possible to implement. I'm not adding new features to this repository, though 😅

I've tried implementing something like this manually, like so:

[code]

This enables `decimalPlaces` whenever the user presses the period (`.`) key, but the caret position jumps to the end after that, which ends up being a bad user experience. If the user pre

[2022-07-30 00:31] karina2004liz commented on #132
Thanks a lot for your answer Renato! I will try to implement the first one! Wish me luck!